networks:
  existing_network:
    name: DATABASE_NETWORK
    external: true

services:
  # postgres:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   env_file: .env
  #   container_name: postgres_container
  #   environment:
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_DB: ${POSTGRES_DB}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   networks:
  #     - default 
  #     - existing_network
  db:
    env_file:
      - .env
    image: postgres:${POSTGRES_VERSION}
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_TZ=${POSTGRES_TZ}
    ports:
      - 5432
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data

volumes:
  postgres_data:
